.dropdown{
    
    transform: translateY(-100vh);
    /* transition: all .5s; */
     position: relative; 
     z-index: 10;
    margin-top: 1vh;
    
   

}

.dropdown-content {
     position: absolute;
    min-width:50vw;
    /* margin-right: 60vw; */
    transform: translateX(50vw);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    
  
  }
  a{
    display: block;
    height: 5vh;
    background: #036b80;
    /* background: linear-gradient(90deg, rgba(111,105,205,1) 0%, rgba(1,158,245,0.6507645294445903) 100%, 
             rgba(129,182,185,0.8272351176798844) 100%, rgba(0,212,255,1) 100%);
      */
    
    color: white;
    text-decoration: none;
    text-align: left;
    align-self: center;
    padding: 2vw;
    font-size: 20px;
    border-bottom:2px solid rgba(201, 125, 125, 0.253);

  }
  a:hover{
    background-color: blue;
  }
  
  .close{
    transform: translateY(0vh);
    /* transition: all .5s; */
  }
  