.menu {
    width: 20vw;
    height: 9vh;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
    cursor: pointer;
    border: 5px solid rgba(16, 17, 92, 0.986);
    border-radius:1vh;
    transform: scale(.7);

}

.menu div {
    width: 90%;
    height: 1vh;
    background-color: rgba(16, 6, 77, 0.904);
}

